{% include 'navbar.html' %} 
{% load static %} 
<link rel="stylesheet" href="{% static 'styles/style.css' %}"> 
<title>Lista de médicos</title> 
<div class="container">

    {% if all_doctors %}
        {% if all_doctors|length > 1 %}
            {% for doctor in all_doctors %}
                <h3>{{ doctor.nome }}</h3>
                <p>{{ doctor.especialidade }}</p>
                <p>{{ doctor.registro }}</p>
            {% endfor %}
        {% else %}
            <h3>{{ all_doctors.nome }}</h3>
            <p>{{ all_doctors.especialidade }}</p>
            <p>{{ all_doctors.registro }}</p>
        {% endif %}
    {% else %}
        <p>Nenhum médico encontrado</p>
    {% endif %}

  </div>